# Files that must not be sent to the Docker build context.

**/.DS_Store
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vscode
**/node_modules
**/npm-debug.log
**/docker-compose*
**/compose*
**/Dockerfile*
web/dist
dump/
*.idx
*.pprof
LICENSE
README.md
